{% extends 'base.html' %}
{% load static %}
{% block titleblock %}
  Home
{% endblock %}

{% block bodyblock %}<div class="container align-middle">
  <div class="jumbotron" style="background-color: #eb5e28; margin: 20px; text-align: center;">
  <img src="{% static 'boost.gif' %}" alt="Card image cap" width="150px" height="150px">
     <h1>Welcome to the Speed App</h1>
     <h6>This application can be used to detect the speed of a vehicle at a specific time according to certain parameters, by making use of machine learning and a feed-forward neural network </h6>
<a class="btn btn-outline-dark" style="margin-top: 20px"href="{% url 'SpeedApp:detect' %}">Detect Speed <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
</svg></a>
</div> 
{% comment %} <div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <h1>Welcome to the Speed App</h1>
   
<a class="btn btn-warning" href="{% url 'SpeedApp:detect' %}">Detect Speed <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></a>
            </div>
        </div>
    </div>
</div> {% endcomment %}

{% endblock %}